.start{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: #fff;
    background-color: green;
    margin: 20px;
}
.stop{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: #fff;
    background-color: red;
    margin: 20px;
}
.reset{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: #fff;
    background-color: orange;
    margin: 20px;
}
.start:disabled{
    background-color: gray;
}